@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root{
  --title-bar-size: 1.5rem;
  --title-bar-color: gray;
  --background-color: #FFF;
  --hover-color: #d6d6d6;
  --text-color: black;
  --field-border-color: #A4A4A4;
  --field-border-color-focused: #9d9fec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

body { 
  font-family: 'Source Sans Pro', sans-serif; 
  background-color: var(--background-color);
  padding-top: var(--title-bar-size);
  padding-bottom: 1rem;
}

table {    
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;

  thead {
    th {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
  }

  td,
  th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}